{{define "content"}}
<div class="card p-4 shadow-sm">
    <h2>Nova Mensagem</h2>
    <form action="/form" method="POST">
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" name="nome_usuario" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Mensagem</label>
            <textarea name="mensagem" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
</div>
{{end}}