{{define "content"}}
<div class="p-5 mb-4 bg-white rounded-3 shadow-sm border">
    <div class="container-fluid py-5 text-center">
        <h1 class="display-5 fw-bold text-dark">Gerenciador de Mensagens Go</h1>
        <p class="col-md-12 fs-4 text-muted">Sistema simples, rápido e eficiente para coletar contribuições em tempo real.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-4">
            <a href="/form" class="btn btn-primary btn-lg px-4 gap-3">Enviar Nova Mensagem</a>
            <a href="/ver" class="btn btn-outline-secondary btn-lg px-4">Ver Mensagens Salvas</a>
        </div>
    </div>
</div>
{{end}}